.dashboard-page {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 60px);  /* Ajuste la hauteur de la page pour tenir compte de la navbar */
  height: calc(100vh - 60px);      /* Assure que le contenu occupe le reste de l'espace disponible */
  overflow: hidden;   /* Empêche le défilement */
  padding: 0; /* Retirer tout padding inutile */
}

.spacer {
  flex-grow: 1; /* Prend tout l'espace disponible */
}

.header {
  margin-top: 100px; /* Ajuster l'espace entre la navbar et la section "Vos objets" */
  margin-left: 100px;
  text-align: left; /* Aligne les titres à gauche */
  margin-bottom: 50px;
  padding: 0; /* Enlever tout padding ou marge par défaut */
}

.main-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.create-object {
  display: block;
  margin: 20px auto;
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
}

.create-object:hover {
  text-decoration: underline;
}

.agenda-section {
  background-color: #dcdada; /* Couleur grise plus légère */
  padding: 10px 20px;
  margin-top: 0; /* Évite toute marge entre la section agenda et les éléments précédents */
  position: relative;
  justify-content: center;
  flex-direction: column; /* Colonne pour aligner le titre et les sections de tâches */
  align-items: flex-start; /* Aligner les éléments à gauche */
  height: 350px; /* Hauteur fixe pour l'agenda */
  flex-shrink: 0;
  margin-bottom: 0; /* Supprimer toute marge sous la section agenda */
}

.agenda-header {
  display: flex;
  justify-content: center; /* Centrer le titre et le sélecteur */
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px; /* Ajouter de l'espace entre le header et les tâches */
  gap: 20px; /* Espace entre le titre et le sélecteur */
}

.object-selector {
  margin-bottom: 20px;
}

.form-select {
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.tasks-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.task-group {
  width: 45%;
  padding: 0; /* Supprime les padding interne pour les sections */
  margin-top: 0; /* Réduire l'espace en haut des sections */
  margin-bottom: 0; /* Réduire l'espace en bas des sections */
  text-align: left;
  height: 100%;   /* Assure que les groupes de tâches prennent toute la hauteur de l'agenda */
  overflow-y: auto;  /* Permet de scroller à l'intérieur si le contenu est trop grand */
}

/* Ajouter une hauteur limite aux listes de tâches */
.task-group ul {
  max-height: 220px; /* Hauteur maximum pour les listes de tâches */
  overflow-y: auto;  /* Activer le défilement si le contenu dépasse */
}

.task-group h3 {
  text-align: center; /* Centre les titres */
  font-size: 1.2rem; /* Ajuster la taille si nécessaire */
}

.tasks-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  margin: 0; /* Retirer les marges entre les sections */
}

.tasks-display::before {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  background-color: #ccc; /* Séparateur vertical entre les deux colonnes */
  margin: 0 20px;
  transform: translateX(-50%); /* Centre le trait exactement au milieu */
  left: 49%; /* Place le trait au milieu */
}

.object-list-container {
  max-height: 150px; /* Hauteur fixe pour permettre le défilement */
  overflow-y: auto; /* Active le défilement vertical si nécessaire */
  overflow-x: hidden; /* Empêche le débordement horizontal */
  margin-left: 50px; /* Décale légèrement à droite */
  border-bottom: 2px solid #ccc; /* Bordure uniquement en bas */
  display: flex; /* Utilise Flexbox pour la disposition en colonnes */
  flex-wrap: wrap; /* Permet le wrapping pour former des colonnes */
  gap: 20px; /* Ajoute de l'espace entre les colonnes */
}

// .object-list-container {
//   max-height: 300px; /* Hauteur fixe pour permettre le défilement */
//   overflow-y: auto; /* Active le défilement vertical si nécessaire */
//   margin-left: 50px; /* Décale légèrement vers la droite pour correspondre à l'alignement */
//   border-bottom: 2px solid #ccc; /* Ajoute une bordure uniquement en bas */
//   display: inline-block; /* Adapte la largeur au contenu le plus long */
//   padding-right: 30px; /* Espace pour éviter que la scrollbar ne chevauche le contenu */
// }
.object-list {
  display: flex; /* Utilise flex pour gérer les colonnes */
  flex-wrap: wrap; /* Active le wrapping des éléments */
  gap: 15px; /* Espace entre les colonnes et les éléments */
  list-style: none; /* Supprime les puces */
  padding: 0;
  margin: 0;
}

.object-list li {
  width: calc(50% - 10px); /* Les objets occupent 50% de la largeur par défaut */
  font-size: 1.2rem;
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.object-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin-right: 10px;
}

.create-object {
  margin-left: 50px; /* Ajuste cette valeur selon l'emplacement désiré */
  display: block;
  font-size: 1.2rem;
  color: #333; /* Assure que la couleur du texte est la même que les autres */
  text-decoration: none;
}

.create-object .icon {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #333; /* Assure que l'icône ait la même couleur que le texte */
}

.object-link {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.create-object:hover {
  text-decoration: underline;
  color: #333; /* Assure que l'icône ait la même couleur que le texte */
}

.tasks-display {
  display: flex;
}

#this-week-tasks li, #upcoming-tasks li {
  cursor: pointer; /* Cela change le curseur en main pour les tâches uniquement */
}

.object-list .edit-link {
  font-size: 0.75rem; /* Ajuste la taille de l'icône ici */
  margin-left: 10px;
  color: #555; /* Couleur plus douce pour l'icône */
  text-decoration: none;
}

.object-list .edit-link:hover {
  color: #000; /* Couleur plus foncée au survol */
}


/* Styles pour les écrans plus petits */
@media (max-width: 768px) {
  .dashboard-page {
    flex-direction: column; /* Passe la mise en page en colonne */
    min-height: auto; /* Permet de s'adapter à des contenus plus longs */
  }

  .object-list li {
    width: calc(100% - 10px); /* Passe à une colonne unique sur petits écrans */
  }

  .object-list-container {
    max-width: 100%; /* La liste d'objets prend toute la largeur */
    margin-left: 0; /* Enlève le décalage gauche sur les petits écrans */
  }

  .agenda-section {
    height: auto; /* Permet à la section Agenda de s'adapter au contenu */
    margin-top: 20px; /* Ajoute un espace entre les sections */
    padding: 10px; /* Réduit le padding pour éviter de perdre de la place */
  }

  .tasks-container {
    flex-direction: column; /* Aligne les tâches en colonne sur petits écrans */
    gap: 20px; /* Ajoute de l'espace entre les groupes de tâches */
  }

  .task-group {
    width: 100%; /* Chaque groupe de tâches prend toute la largeur */
    height: auto; /* Ajuste la hauteur automatiquement */
  }

  .dashboard-page {
    overflow-y: auto; /* Active un défilement vertical si nécessaire */
  }

}
