.edit-object-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.columns {
  display: flex;
  gap: 20px;
}

.left-column,
.right-column {
  flex: 1;
}

.object-title, .sectors-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.object-field, .sector-field {
  margin-bottom: 20px;
}

.object-input, .sector-input, .object-file-input, .sector-file-input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.object-image-preview {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin: 10px 0;
}

.actions-center {
  justify-content: center;
  margin-top: 20px;
}

.sector-remove-btn, .add-sector-btn {
  margin-top: 10px;
}

.custom-file-label {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sector-file-name {
  font-size: 0.9rem; /* Taille de police plus petite */
  color: #333; /* Couleur plus douce */
  background-color: #f8f9fa; /* Arrière-plan léger pour bien distinguer */
  padding: 5px 10px; /* Ajouter du padding pour l'espace */
  border: 1px solid #ddd; /* Bordure légère */
  border-radius: 4px; /* Bordures arrondies */
  display: inline-block;
  margin-top: 10px;

  /* Icône stylisée si tu en ajoutes une */
  i {
    color: #6c757d; /* Couleur de l'icône */
    margin-right: 5px; /* Espace entre l'icône et le texte */
  }
  &.file-attached {
    background-color: #d4edda; /* Vert pâle pour signaler qu'un fichier est présent */
    color: #155724; /* Couleur du texte associée */
  }

  &.file-missing {
    background-color: #f8d7da; /* Rouge pâle pour signaler l'absence */
    color: #721c24;
  }
}

.sector-file-input{
  margin-top: 10px;
}

.error-messages {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #f5c6cb;
}
