.btn-danger-objet {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.btn-danger-objet:hover {
  background-color: #c82333;
}
.btn-primary-objet {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary-objet:hover {
  background-color: #0056b3;
}
