.edit-object-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.columns {
  display: flex;
  gap: 20px;
}

.left-column,
.right-column {
  flex: 1;
}

.object-title, .sectors-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.object-field, .sector-field {
  margin-bottom: 20px;
}

.object-input, .sector-input, .object-file-input, .sector-file-input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.object-image-preview {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin: 10px 0;
}

.actions-center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-simple {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9rem;
}

.btn-simple:hover {
  background-color: #e0e0e0;
}

.sector-remove-btn, .add-sector-btn {
  margin-top: 10px; /* Ajoute un espace au-dessus des boutons */
  display: block;
}

.modify-object-btn {
  margin-top: 20px;
}

.delete-object-btn {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
}
