.dashboard-page.mobile {
  .header {
    padding: 10px;
    font-size: 18px;
  }

  .object-list {
    font-size: 14px;
  }

  .create-object {
    display: block;
    margin: 10px auto;
    text-align: center;
  }

  .tasks-display {
    padding: 10px;
  }

  .select-objet {
    margin: 10px 0;
  }
}
