.article-mobile-show-custom {
  padding: 10px;

  .article-title-mobile-custom {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .add-task-container-mobile-custom {
    text-align: center;
  }


  .task-list-mobile-custom {
    margin-top: 20px;
  }

  .task-list-items-mobile-custom {
    list-style: none;
    padding: 0;
  }

  .d-flex.align-items-center {
    justify-content: space-between; /* Assure que les éléments restent sur la même ligne */
  }

  .add-task-link-mobile-custom {
    margin-right: 30px; /* Ajoute un espace à droite du bouton */
  }

  .task-item-mobile-custom {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-link-mobile-custom {
    text-decoration: none;
    color: inherit;
    width: 100%;
  }

  .task-details-mobile-custom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.9rem;
  }

  .task-name-mobile-custom {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .task-meta-mobile-custom {
    font-size: 0.85rem;
    color: #666;
  }

  .task-actions-mobile-custom {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .btn-block-mobile-custom {
    display: block;
    width: 100%;
    text-align: center;
  }

  .btn-block-mobile-custom.mt-3 {
    margin-top: 15px;
  }
}
