.page-new-objet {
  background-color: #f8f9fa;
  padding: 50px;
  max-width: 900px;
  margin: 80px auto; /* Augmentation de la marge supérieure pour éloigner du haut */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .field {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        color: #444;
      }

      input[type="text"],
      input[type="file"] {
        padding: 0.75rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        color: #333;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
        width: 100%;
      }
    }

    .field.full-width {
      grid-column: span 2;
    }

    .actions {
      grid-column: span 2;
      text-align: center;
      margin-top: 2rem;

      input[type="submit"] {
        background-color: #444;
        color: #fff;
        padding: 0.75rem 2.5rem;
        font-size: 1.2rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #333;
        }
      }
    }

    .remove_fields {
      display: inline-block;
      color: #777;
      font-size: 1rem;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #555;
      }
    }

    .sector-image {
      max-width: 100px;
      margin-top: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    .add-sector-link {
      grid-column: span 2;
      text-align: center;
      margin-top: 1rem;

      a {
        text-decoration: none;
        color: #777;
        font-weight: 600;
        font-size: 1.1rem;
        transition: color 0.3s ease;

        &:hover {
          color: #555;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: #777;
    font-weight: 600;
    font-size: 1.1rem;
    transition: color 0.3s ease;

    &:hover {
      color: #555;
    }
  }
}
