// #article-selector {
//   position: absolute;
//   top: 20px;
//   right: 170px;
//   z-index: 10;
// }

// #add-article {
//   position: absolute;
//   top: 20px;
//   right: 10px;
//   z-index: 10;
// }

.btn, .article-link {
  touch-action: manipulation; /* Empêche le zoom et permet l'interaction */
  z-index: 10; /* Assure que les boutons restent au-dessus de l'image */
  position: relative; /* Permet aux éléments d'être au-dessus du zoom */
}
