<nav aria-label="breadcrumb" class="breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Vos objets', objets_path %>
    </li>
    <% if @objet && @objet.id.present? %>
      <li class="breadcrumb-item">
        <%= link_to @objet.nom, objet_path(@objet) %>
      </li>
    <% end %>
    <% if @secteur %>
      <li class="breadcrumb-item">
        <%= link_to @secteur.nom, objet_path(@objet) %>
      </li>
    <% end %>
    <% if @article %>
      <li class="breadcrumb-item">
        <%= link_to "Todo", objet_secteur_article_path(@objet, @secteur, @article) %>
      </li>
    <% end %>
    <% if action_name == 'historique' %>
      <li class="breadcrumb-item active">Historique</li>
    <% elsif action_name == 'new' %>
      <li class="breadcrumb-item active">Création de tâche</li>
    <% elsif action_name == 'edit' %>
      <li class="breadcrumb-item active">Modifier la tâche</li>
    <% end %>
  </ol>
</nav>
