<nav aria-label="breadcrumb" class="breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Vos objets', objets_path %>
    </li>
    <% if @objet && @objet.id.present? %>
      <li class="breadcrumb-item">
        <%= link_to @objet.nom, objet_path(@objet) %>
      </li>
    <% end %>
    <% if @article %>
      <li class="breadcrumb-item active">
        Todo
      </li>
    <% end %>
  </ol>
</nav>
