<div class="dashboard-page-mobile" data-controller="task">
  <div class="split-container-mobile">
    <!-- Section supérieure pour les objets -->
    <div class="header-mobile object-section-mobile">
      <h1 class="main-title-mobile">Vos objets</h1>
      <ul class="object-list-mobile">
        <% @objets.each do |objet| %>
          <li>
            <span class="object-bullet-mobile"></span>
            <%= link_to "#{objet.nom} - #{objet.adresse}", objet_path(objet), class: "object-link-mobile" %>
            <%= link_to edit_objet_path(objet), class: "edit-link-mobile", title: "Éditer #{objet.nom}" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- Section inférieure pour l'agenda -->
    <div class="agenda-section-mobile">
      <h2>Agenda todo list</h2>
      <div class="select-objet-mobile">
        <select id="object-selector-mobile" class="form-select-mobile" data-action="change->task#loadTasks">
          <option value="">Sélectionner un objet</option>
          <% @objets.each do |objet| %>
            <option value="<%= objet.id %>"><%= objet.nom %></option>
          <% end %>
        </select>
      </div>

      <div class="tasks-display-mobile">
        <div class="task-group-mobile this-week-mobile">
          <h3>Cette semaine</h3>
          <ul id="this-week-tasks-mobile" data-task-target="thisWeekTasks">
            <li>Aucune tâche cette semaine.</li>
          </ul>
        </div>

        <div class="task-group-mobile upcoming-mobile">
          <h3>A venir</h3>
          <ul id="upcoming-tasks-mobile" data-task-target="upcomingTasks">
            <li>Aucune tâche à venir.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
