<div class="spacer"></div>
<div class="object-mobile-show">
  <!--<h1><%= @objet.nom %></h1>-->
  <h2>Tous mes articles</h2>

  <ul class="article-list">
    <% @objet.articles.each do |article| %>
      <li>
        <%= link_to article.title, [@objet, article.secteur, article], class: "article-link" %>
      </li>
    <% end %>
  </ul>

  <!--<div class="add-article-container">
    <%= link_to new_objet_article_path(@objet), class: "btn btn-primary btn-block-mobile-custom" do %>
      + Ajouter un article
    <% end %>
  </div>-->

  <%= link_to "Retour", objets_path, class: "btn btn-secondary" %>
</div>
