<section class="hero">
  <div class="container-home-page">
    <h1>Plannikeeper</h1>
    <h1>Plannifier l'entretien de vos bâtiments</h1>
    <p>Organisez, prévoyez et réussissez avec notre outil intuitif.</p>
    <%= link_to 'Commencez maintenant gratuitement', new_user_session_path, class: 'btn btn--simple' %>
  </div>
</section>

<section class="demo-section">
  <div class="container-fluid demo-container">
    <div class="row demo-row align-items-center">
      <!-- Texte de démonstration -->
      <div class="col-md-6 demo-text">
        <h2>Découvrez notre outil</h2>
        <p>Organisez vos tâches, collaborez en temps réel, et gardez votre équipe alignée avec notre plateforme intuitive.</p>
      </div>

      <!-- Vidéo de démonstration -->
      <div class="col-md-6 demo-video">
        <video autoplay muted loop class="demo-video-element">
          <!--<source src="chemin/vers/votre_video.mp4" type="video/mp4">-->
          Votre navigateur ne supporte pas la vidéo HTML5.
        </video>
      </div>
    </div>
  </div>
</section>
