.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: lightgray;
  border-bottom: 1px solid darkgray;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-center {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Prendre toute la largeur disponible */
  justify-content: center; /* Centrer le contenu */
  margin: 0 1rem; /* Ajuster les marges si nécessaire */
}

.navbar-center span {
  margin-right: 1rem; /* Espace entre @current_path et le sélecteur */
}
