.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: light-gray;
  border-bottom: 1px solid darkgray;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
