.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: lightgray;
  border-bottom: 1px solid darkgray;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-center {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Prendre toute la largeur disponible */
  justify-content: center; /* Centrer le contenu */
  margin: 0 1rem; /* Ajuster les marges si nécessaire */
}

.navbar-center span {
  margin-right: 1rem; /* Espace entre @current_path et le sélecteur */
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  z-index: 1000;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: black;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.avatar {
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  object-fit: cover;
  }
